.cancha_caja{
  background-color: #8cb27c;
  width: 1000px;
  height: 500px;
  position: absolute;
}
.borde{
  border: 6px solid white;
  width: 950px;
  height: 450px;
  position: absolute;
  top: 19px;
  left: 18px;
}
.arco_izq{
  border: 6px solid white;
  width: 100px;
  height: 200px;
  position: absolute;
  bottom: 130px;
  left: 18px;
}
.arco_der{
  border: 6px solid white;
  width: 100px;
  height: 200px;
  position: absolute;
  bottom: 130px;
  left: 868px;
}
.circulo_central{
  border: 6px solid white;
  width: 200px;
  height: 200px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 130px;
  left: 410px;
}
.sombra_jugador_1{
  background-color: gray;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  position: absolute;
  bottom: 310px;
  left: 105px;
}
.sombra_jugador_2{
  background-color: gray;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  position: absolute;
  bottom: 410px;
  left: 530px;
}
.sombra_jugador_3{
  background-color: gray;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  position: absolute;
  bottom: 140px;
  left: 835px;
}
.balon_jugador{
  position: absolute;
  bottom: 308px;
  left: 104px;
}
.balon_jugador_2{
  position: absolute;
  bottom: 408px;
  left: 528px;
}
.balon_jugador_3{
  position: absolute;
  bottom: 138px;
  left: 833px;
}
